<%= form_for(property) do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :bedroom_count %>
    <%= f.number_field :bedroom_count %>
  </div>

  <div class="field">
    <%= f.label :price_monthly %>
    <%= f.number_field :price_monthly %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
