<%= image_tag @property.image.url(:medium) %>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Bedroom count:</strong>
  <%= @property.bedroom_count %>
</p>

<p>
  <strong>Price monthly:</strong>
  <%= @property.price_monthly %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
